## TARGET INSIGHTS
### 1. unique job titles 
### 2. job title with highest count
### 3. job titles with highest ave salary
### 4. salary range for data science position
### 5. unique skills listed for each job title 
### 6. seniority level of the data

In [1]:
# Importing required modules
import pandas as pd
import ast
from collections import Counter

In [2]:
# Loading the dataset
df = pd.read_csv('dataset/data_science_job_posts_2025.csv')

## Familiarizing with the dataset

In [3]:
# Check number of rows and cols
print(df.shape)

(944, 13)

In [4]:
# Looking at the data
print(df.head())

        job_title seniority_level   status      company  \
0  data scientist          senior   hybrid  company_003
1  data scientist            lead   hybrid  company_005
2  data scientist          senior  on-site  company_007
3  data scientist          senior   hybrid  company_008
4  data scientist             NaN  on-site  company_009

                                            location    post_date  \
0                             Grapevine, TX . Hybrid  17 days ago
1                            Fort Worth, TX . Hybrid  15 days ago
2  Austin, TX . Toronto, Ontario, Canada . Kirkla...  a month ago
3  Chicago, IL . Scottsdale, AZ . Austin, TX . Hy...   8 days ago
4                                            On-site   3 days ago

            headquarter       industry ownership company_size  revenue  \
0   Bentonville, AR, US         Retail    Public     €352.44B   Public
1       Detroit, MI, US  Manufacturing    Public      155,030  €51.10B
2  Redwood City, CA, US     Technology    Public       25,930  €33.80B
3      San Jose, CA, US     Technology    Public       34,690  €81.71B
4      Stamford, CT, US        Finance   Private        1,800  Private

                salary                                             skills
0  €100,472 - €200,938  ['spark', 'r', 'python', 'scala', 'machine lea...
1             €118,733  ['spark', 'r', 'python', 'sql', 'machine learn...
2   €94,987 - €159,559  ['aws', 'git', 'python', 'docker', 'sql', 'mac...
3  €112,797 - €194,402                             ['sql', 'r', 'python']
4  €114,172 - €228,337                                                 []

In [5]:
# Familiarizing with the columns
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        941 non-null    object
 1   seniority_level  884 non-null    object
 2   status           688 non-null    object
 3   company          944 non-null    object
 4   location         942 non-null    object
 5   post_date        944 non-null    object
 6   headquarter      944 non-null    object
 7   industry         944 non-null    object
 8   ownership        897 non-null    object
 9   company_size     944 non-null    object
 10  revenue          929 non-null    object
 11  salary           944 non-null    object
 12  skills           944 non-null    object
dtypes: object(13)
memory usage: 96.0+ KB
None

In [6]:
# Sampling the dataset
print(df.sample(10))

                     job_title seniority_level   status      company  \
799             data scientist          senior  on-site  company_288
933  machine learning engineer        midlevel      NaN  company_941
592             data scientist          senior   hybrid  company_291
394  machine learning engineer          senior  on-site  company_065
283             data scientist          senior   remote  company_564
392             data scientist            lead      NaN  company_047
327             data scientist          senior      NaN  company_666
885             data scientist            lead  on-site  company_395
320             data scientist          senior   remote  company_647
32              data scientist          senior   hybrid  company_061

                                              location    post_date  \
799                            Chantilly, VA . On-site  a month ago
933  Bengaluru, Karnataka, India . Bangalore, Karna...  21 days ago
592                            Alpharetta, GA . Hybrid   7 days ago
394                           Toronto, Ontario, Canada  a month ago
283                                       Fully Remote  a month ago
392                  Visakhapatnam Rural mandal, India   7 days ago
327                               Singapore, Singapore  a month ago
885                                       New York, NY  21 days ago
320                    India, Bengaluru . Fully Remote   5 days ago
32        Manchester, England, United Kingdom . Hybrid  15 days ago

             headquarter    industry ownership company_size    revenue  \
799       Reston, VA, US  Technology    Public       26,040    €63.09B
933           Dublin, IE  Technology    Public      492,245   €154.21B
592    Bengaluru, KA, IN  Technology    Public      261,040    €71.18B
394  Cherry Hill, NJ, US  Technology   Private       26,030    Private
283    Palo Alto, CA, US  Technology   Private          300    Private
392    Bengaluru, KA, IN  Technology    Public      222,040    €24.46B
327                   SG  Technology       NaN        6,040  Education
885       McLean, VA, US      Retail    Public       55,150    €36.34B
320           London, GB  Technology   Private          900    Private
32        Manchester, GB  Technology    Public        1,320     Public

                  salary                                             skills
799             €114,169                                   ['aws', 'azure']
933    €10,601 - €26,376                               ['machine learning']
592   €85,855 - €150,244  ['pytorch', 'spark', 'aws', 'r', 'python', 'sc...
394  €137,008 - €173,541  ['pytorch', 'spark', 'aws', 'database', 'sql',...
283  €168,061 - €192,721                                                 []
392              €10,053              ['deep learning', 'machine learning']
327              €80,624                                       ['database']
885  €264,761 - €302,202  ['aws', 'r', 'python', 'scala', 'machine learn...
320              €39,026                                                 []
32     €45,669 - €63,936  ['spark', 'python', 'airflow', 'sql', 'machine...

In [7]:
# Checking for null values
count_nulls = df.isnull().sum()
print(count_nulls)

job_title            3
seniority_level     60
status             256
company              0
location             2
post_date            0
headquarter          0
industry             0
ownership           47
company_size         0
revenue             15
salary               0
skills               0
dtype: int64

# 1. List unique job titles

In [8]:
titles = df['job_title'].unique()
print(titles)

['data scientist' 'machine learning engineer' nan 'data analyst'
 'data engineer']

# 2. Job title with highest count

In [9]:
count_titles = df['job_title'].value_counts()
print(count_titles)

job_title
data scientist               856
machine learning engineer     80
data engineer                  4
data analyst                   1
Name: count, dtype: int64

# 3. Job titles with highest ave salary

### CLEANING THE SALARY COLUMN

In [10]:
# Deleting symbols: euro (€), comma (,), dot (.)
df['salary'] = df['salary'].str.replace(r'[€,.]', '', regex=True)

# Separating exact numbers and ranges
salary_exact = df.loc[~df['salary'].str.contains('-') , :]
salary_range = df.loc[df['salary'].str.contains('-') , :]

# Checking for correctness
print('Comparing salary_exact & salary_range')
print(salary_exact[['job_title', 'salary']].head())
print()
print(salary_range[['job_title', 'salary']].head())

Comparing salary_exact & salary_range
         job_title  salary
1   data scientist  118733
8   data scientist  207331
9   data scientist  219201
10  data scientist   96815
15  data scientist  134266

        job_title           salary
0  data scientist  100472 - 200938
2  data scientist   94987 - 159559
3  data scientist  112797 - 194402
4  data scientist  114172 - 228337
5  data scientist  196371 - 251170

In [11]:
# Getting the mean for ranges
def get_mean(list_arg):
    return int(list_arg[0]) + int(list_arg[1]) / 2
        
salary_range['salary'] = salary_range['salary'].str.split(' - ')   # This will output a list of EX. [str(10), str(10)] for each row
salary_range['salary'] = salary_range['salary'].apply(get_mean)

# Checking for correctness
print('\n' * 2)
print('salary_range after get_mean()')
print(salary_range[['job_title', 'salary']].head())

salary_range after get_mean()
        job_title    salary
0  data scientist  200941.0
2  data scientist  174766.5
3  data scientist  209998.0
4  data scientist  228340.5
5  data scientist  321956.0

C:\Users\user\AppData\Local\Temp\ipykernel_13928\91326570.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_range['salary'] = salary_range['salary'].str.split(' - ')   # This will output a list of EX. [str(10), str(10)] for each row
C:\Users\user\AppData\Local\Temp\ipykernel_13928\91326570.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_range['salary'] = salary_range['salary'].apply(get_mean)

In [12]:
# Combining the dataframes
clean_data = pd.concat([salary_exact, salary_range], ignore_index=True)

# Changing the salary data type to float
clean_data['salary'] = clean_data['salary'].astype('float')

print('\n' * 2)
print('Cleaned dataset')
print(clean_data[['job_title', 'salary']].head())

Cleaned dataset
        job_title    salary
0  data scientist  118733.0
1  data scientist  207331.0
2  data scientist  219201.0
3  data scientist   96815.0
4  data scientist  134266.0

In [13]:
# Getting titles with highest salary
''' OUTPUT FROM NO#2
data scientist               856
machine learning engineer     80
data engineer                  4
data analyst                   1
'''

# Separating the data according to titles
data_scientist = clean_data.loc[clean_data['job_title'] == 'data scientist', :]
ml_engineer = clean_data.loc[clean_data['job_title'] == 'machine learning engineer', :]
data_engineer = clean_data.loc[clean_data['job_title'] == 'data engineer', :]
data_analyst = clean_data.loc[clean_data['job_title'] == 'data analyst', :]

# Check for the average salary
data_scientist_mean_salary = data_scientist.salary.sum() / data_scientist.shape[0]
ml_engineer_mean_salary = ml_engineer.salary.sum() / ml_engineer.shape[0]
data_engineer_mean_salary = data_engineer.salary.sum() / data_engineer.shape[0]
data_analyst_salary = data_analyst[['job_title', 'salary']].iloc[0,1]

# Converting to integer before sorting
ds_salary = int(data_scientist_mean_salary)
mle_salary = int(ml_engineer_mean_salary)
de_salary = int(data_engineer_mean_salary)
da_salary = int(data_analyst_salary)

print('AVE SALARIES:')
print(f'Data Scientist: €{ds_salary:,}')
print(f'ML Engineer: €{mle_salary:,}')
print(f'Data Engineer: €{de_salary:,}')
print(f'Data Analyst: €{da_salary:,}')

AVE SALARIES:
Data Scientist: €170,201
ML Engineer: €151,007
Data Engineer: €212,763
Data Analyst: €69,047

# 4. Salary range for data science position

In [14]:
minimum = data_scientist.salary.min()
maximum = data_scientist.salary.max()
print(f"The salary range for the data scientist position based on the 2025 job posts data is €{minimum:,} - €{maximum:,}")

The salary range for the data scientist position based on the 2025 job posts data is €7,678.0 - €2,739,979.0

# 5. Unique skills listed for each job title

In [15]:
ds_skills = []

# Iterate over the skills column using itertuples, use index=False since the index is not needed
for row in data_scientist[['skills']].itertuples(index=False):
    skills_list = ast.literal_eval(row.skills)   # Safely convert string values from the column EX. "['python', 'sql']" into a real list
    ds_skills.extend(skills_list)   # Add the skills list into ds_skills

 
ds_skills_count = Counter(ds_skills)   # Count each skill then
print(dict(ds_skills_count.most_common()))   # Convert counter object into dict (retain order using the .most_common() method)

{'python': 600, 'machine learning': 531, 'sql': 425, 'r': 337, 'aws': 196, 'spark': 152, 'deep learning': 152, 'tensorflow': 141, 'azure': 138, 'pytorch': 121, 'tableau': 116, 'gcp': 93, 'scikit-learn': 84, 'database': 79, 'scala': 79, 'pandas': 70, 'java': 66, 'hadoop': 64, 'git': 63, 'numpy': 55, 'docker': 46, 'amazon': 45, 'kubernetes': 39, 'matplotlib': 36, 'keras': 31, 'airflow': 23, 'powerbi': 22, 'linux': 21, 'neural network': 13, 'scipy': 10, 'sklearn': 5, 'opencv': 4, 'bash': 4}

In [16]:
mle_skills = []

# Iterate over the skills column using itertuples, use index=False since the index is not needed
for row in ml_engineer[['skills']].itertuples(index=False):
    skills_list = ast.literal_eval(row.skills)   # Safely convert string values from the column EX. "['python', 'sql']" into a real list
    mle_skills.extend(skills_list)   # Add the skills list into ds_skills

 
mle_skills_count = Counter(mle_skills)   # Count each skill then
print(dict(mle_skills_count.most_common()))   # Convert counter object into dict (retain order using the .most_common() method)

{'machine learning': 48, 'python': 35, 'pytorch': 27, 'deep learning': 26, 'tensorflow': 24, 'aws': 18, 'azure': 16, 'sql': 15, 'gcp': 12, 'spark': 8, 'docker': 8, 'scikit-learn': 7, 'java': 6, 'pandas': 6, 'kubernetes': 5, 'r': 5, 'numpy': 5, 'scala': 4, 'database': 4, 'powerbi': 3, 'hadoop': 2, 'amazon': 2, 'neural network': 2, 'git': 1, 'airflow': 1, 'keras': 1}

In [17]:
de_skills = []

# Iterate over the skills column using itertuples, use index=False since the index is not needed
for row in data_engineer[['skills']].itertuples(index=False):
    skills_list = ast.literal_eval(row.skills)   # Safely convert string values from the column EX. "['python', 'sql']" into a real list
    de_skills.extend(skills_list)   # Add the skills list into ds_skills

 
de_skills_count = Counter(de_skills)   # Count each skill then
print(dict(de_skills_count.most_common()))   # Convert counter object into dict (retain order using the .most_common() method)

{'amazon': 4, 'aws': 3, 'python': 2, 'scala': 2, 'sql': 2, 'spark': 1, 'hadoop': 1, 'machine learning': 1, 'java': 1, 'airflow': 1}

In [18]:
print(data_analyst.skills)

49    ['python']
Name: skills, dtype: object

# 6. Seniority level of the data

In [19]:
ds_seniority = Counter(data_scientist['seniority_level'])   # Count seniority
ds_seniority = dict(ds_seniority.most_common())   # Convert to dictionary
print(ds_seniority)

{'senior': 579, 'lead': 111, 'midlevel': 98, nan: 49, 'junior': 19}

In [20]:
mle_seniority = Counter(ml_engineer['seniority_level'])   # Count seniority
mle_seniority = dict(mle_seniority.most_common())   # Convert to dictionary
print(mle_seniority)

{'senior': 47, 'midlevel': 12, nan: 11, 'junior': 6, 'lead': 4}

In [21]:
de_seniority = Counter(data_engineer['seniority_level'])   # Count seniority
de_seniority = dict(de_seniority.most_common())   # Convert to dictionary
print(de_seniority)

{'senior': 4}

In [22]:
da_seniority = Counter(data_analyst['seniority_level'])   # Count seniority
da_seniority = dict(da_seniority.most_common())   # Convert to dictionary
print(da_seniority)

{'midlevel': 1}